@charset "utf-8";

*{
    margin: 0;
padding: 0;
box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333333;
}


.tab-wrap{
    position: relative;
}
.tabmenu{
    display: flex;
}
.tabmenu > li{
    width: 100px;
    background-color: aliceblue;
}
.tabmenu>li>h2>a{
    display: block;

}
.tabmenu>li.on{
    background-color: navy;
}
.tabmenu>li.on>a{
    color: white;
}

.tabcon{
    width: 100%;
    background-color: navy;
    position: absolute;
    left: 0;
}

.notice ul>li>a{
display: flex;
justify-content: space-between;
line-height: 25px;
}